fastapi
uvicorn[standard]
python-multipart
pandas
numpy
scikit-learn
joblib
pymongo
plotly
openpyxl
passlib[bcrypt]
python-jose[cryptography]
reportlab
matplotlib
seaborn
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
python-dotenv
